body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #ececec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo{
  margin-right: 5%;
}
.headerButton {
  margin-right: 1em;
}

footer a{
  margin-right: 1em;
}

footer {
  width: 100%;
 

}
.content{
 width: 850px;
 background-color: white;
  margin: 0 auto;
  overflow: hidden;
  min-height: 500px;
}

.smallIcon{
  width:  23px;
}

.inline{
  display: inline;
}

.title {
  widows: 100%;
}

.new {
  color: coral;
  background-color: #ececec;
  width: 95%;
  margin: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.new:hover{
  cursor: pointer;
  color: orangered;
  
}

.item {
  width: 100%;
  background-color: bisque;
  width: 95%;
  padding: 5px;
  margin: 1em;
}

.item:hover{
  cursor: pointer;
  background-color: lightslategray;
 
}

.plus{
  float: right;
  margin-top: 7px;

}
span {
  margin: 1em;
  padding: 1em;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
}
#overlay input {

  width: 100%;
}


#overlay .radioButton {

  width: auto;
}

.overlay-From {
  margin-top: 5em;
}
form {
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;

}

.inputDiv {
  width: 700px;
 
}

.overlaybtn {
  margin: 1em;
}

.overlaybtn:hover {
  cursor: pointer;
}

.edit {
  background-color: white;
  margin: 0%;
  padding: 0%;
}

.radioLabel {
  margin-left: 2em;
  margin-right: 1em
}

select {
  margin-left: 3em;
}

.search{
  float: right;
  margin-right: 1em;
}

.alpha {
  margin-top: 2em;
  color: darkorange;
}
ul {
  padding: 0;
  margin: 0;
  color: darkorange;
}
ul li{
  color: darkorange;
  display: inline;
  padding: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-style: solid;
  border-width: thin;
  background: #ececec
}
ul li a{
  color: orange;
  padding: 0;
  margin: 0;
  width: 1em;
} 
ul li:hover a{
 
  color: white;
} 
ul {
padding: 0;
}
ul li:hover{
  background-color: orange;
}


.liPicked{
  background-color: orange;
}

.liPicked a {
  color: white;
}

table {
  background-color: lightslategray;
  margin-left: 2em;
}
th, td {
  padding: 15px;
}

.workSearch {
  margin: 2em;
  padding: 2m;

  background-color: #ececec;
}

th {
  border:collapse;
}
.heading {  
  border-bottom: 1px solid black;
}

.headerButton:hover{
  cursor: pointer;
  background-color: orange;
}

.totalHrs {
  float: right;
  margin-right: 2em;
  padding: 0.5em;
  background-color: orange;
   
}

.Day {
  background-color: ececec;
  padding: 0.5em;

}
.Calendar {
  width: 90%;
  background: #ececec
} 

.DayOfWeek {
  width: 5em;
  height: 3em;

}

.Day-inner {
  width: 5em;
  height: 3em;
}

.Day-inner:hover{
  cursor: pointer;
}

.other-month button{
  background-color: orange !important;
}

.time {
  width: 2em;
}

.drop {
  width: 9.2em;
  margin: 0;
  padding: 0;
  
}

.back{
  margin: 1em;
  padding: 0.5em;
  background-color: orange !important;
  
}

.back:hover {
  cursor: pointer;
}

.form-control {
  margin: 0%;
}

.letters li {
  min-width: 1em;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  cursor: pointer;

}

 .sd{
   margin: 0em !important; 
   cursor: pointer;

 }