.day {
    min-width: 5.5em;
    height: 2em;
    border: 3px;
    border-style: solid;
    border-color: orangered;
    padding: 0;
    margin: 0;
    text-align: center;
}

.day-fill {
    background-color: gray;
    border-color: gray;
    cursor: pointer;
}

.approved {
    background-color: green;
    cursor: pointer;
    border-color: green;
}

.denied {
    background-color:red;
    border-color:red;

    cursor: pointer;
}

.employee-name {
    width: 10em;
    height: 2em;
    padding: 0;
    padding-right: 1em;
    margin: 0;
    text-align: right;
}

tr{
    border-color: white;
}

.inputDate {
    display: inline-block;
    width: 30em;
    margin: 1em;
}

button:hover {
    cursor: pointer;
}

table {
    background-color: white;
}

button{
    margin-left: 1em; 
}